<html lang="en">
    <head>
        <title>All updates for source "{{source}}".</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        {{>deps ".."}}
    </head>
    <body>
        <div class="grid-x grid-padding-x grid-margin-x">
            <div class="cell small-10 small-offset-1">
                <h2>All Updates for Source "{{source}}"</h2>

                <p>
                    This page displays all updates to vendor information provided by the source "{{source}}". Expand each row for details on the changes to each record.
                </p>

                <p>There are {{diffs.length}} records that have been updated.</p>
            </div>

            {{#if diffs}}
            <div class="cell small-10 small-offset-1">
                <table>
                    <thead>
                        <tr><th width="10%">SID</th><th>Name</th><td class="toggle-container"><a class="button small toggle-all" href="#">Expand All</a></td></tr>
                    </thead>
                    <tbody>
                        {{#each diffs as |diff|}}
                            <tr>
                                <td>{{diff.sid.0.value}}</td>
                                <td colspan="2">
                                    <details>
                                        <summary>
                                            {{>diff diff.name}}
                                        </summary>

                                        {{>single-update-table diff}}
                                    </details>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            {{/if}}

            <div class="cell small-5 small-offset-1">
                <a class="button expanded large" href="../index.html">Return to overall summary.</a>
            </div>

            <div class="cell small-10 small-offset-1">
                <p>Generated at {{dateStamp}}.</p>
            </div>
        </div>

        <script type="text/javascript">
            var toggler = gpii.ul.imports.toggleAllDetails("body");
        </script>
    </body>
</html>

